body {
  /* margin: 0; */
  background-color: #23252C;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.container {
  width: 550px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.img{
  height: 317px;
  width: 100%;
  object-fit: cover;  
  border-radius: 12px 12px 0 0;
}

.card{
  width: 317px;
  height: auto;
  margin: 0 auto;
  background: #1A1B21;
}

.img--container{
  width: 317px;
  height: 317px;
  background: #23252C;
}

.info--text{
  text-align: center;
  background: #1A1B21;
  width: 317px;
}
.info--text > h1 {
  margin: 0px;
  padding-top: 21px;
}

.info--color{
  color: #F3BF99;
  margin-top: 3px;
}

.info--text > span {
  display: block;
}

.btn {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.btn--email {
  height: 34px;
  width: 115px;
  border-radius: 6px;
  padding: 9px 18px 9px 11px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
}

.btn--linkedin {
  height: 34px;
  width: 115px;
  border-radius: 6px;
  padding: 9px 13px 9px 11px;
  background-color: #5093E2;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  outline: none;
  }

  .--h3{
    padding-top: 25px;
  }

  .Footer {
    display: flex;
    justify-content: space-around;
    background: #161619;
    padding: 30px;
    border-radius: 0 0 13px 13px;
  }

  .About, .Interest{
    background: #1A1B21;
    padding: 0 20px;
  }

  a {
    all: unset; 
  }